<h3>Satellite Counts:</h3>
<div class="counts">
   <div>Total: <span>{{satellites.length}}</span></div>
   <div>Space Debris: <span>{{getTypeOccurence('Space Debris', satellites)}}</span></div>
   <div>Communication: <span>{{getTypeOccurence('Communication', satellites)}}</span></div>
   <div>Probe: <span>{{getTypeOccurence('Probe', satellites)}}</span></div>
   <div>Positioning: <span>{{getTypeOccurence('Positioning', satellites)}}</span></div>
   <div>Space Station: <span>{{getTypeOccurence('Space Station', satellites)}}</span></div>
   <div>Telescope: <span>{{getTypeOccurence('Telescope', satellites)}}</span></div>
</div>