.sortable {
    cursor: pointer;
    color: #dd5;
}

.warning {
    background-color: #da8a8a;
}

table {
  color: #505050;
  border-radius: 10px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 700px;
}

.header-row {
    background: darkcyan;
    color: #fff
}

.dataRows:nth-child(even) {
    background: rgb(189, 223, 245);
}

.dataRows:nth-child(odd) {
    background: cornflowerblue;
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
}